body {
  font-family: 'Raleway', sans-serif;
  background: url(perfect-pancakes.jpg) no-repeat center top; /* horz centré et top pour coller en haut*/
  position: relative;
  background-attachment: fixed; /* permet de fixer le background et le contenu peut se scroller */
  background-size: cover; /* toute la page sera occupé en background */
  min-height: 100%;
  height:100%;
  margin: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.darkerBG{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.45);
}

.bloctext {
  font-family: 'Raleway', sans-serif;
  margin:0;
  width:100%;
  text-align: justify;
  display: flex;
  position: absolute;
  color: aliceblue;
  top:300px;
}

.leftcol, .rightcol{
  width:40%;
  padding-left:5%;
  padding-right:5%;
  text-align: center;
}

.leftcol{
  border-right:1px solid white;
}

.leftcol ul, .rightcol ol{
  list-style: none;
  padding:0;
  line-height:26px;
}

h1{
  letter-spacing: 6px;
  font-family: 'Pacifico', cursive;
  color: aliceblue;
  font-weight:100;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  position:absolute;
  font-size:50px;
  width:100%;
}

#Nutrition{
  position:absolute;
  color: aliceblue;
  bottom:0;
  font-size:12px;
  width:100%;
  text-align:center;
}


h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

span.show {
  display: inline-block;
  width: 1em;
}

span.hide{
  display: none;
}

ul.show{
  display: block;
}

ul.hide{
  display: none;
}
