#leho {
  margin-right: 50%;
  margin-left: 3%;
  position: relative;
}

#photo{
  display: inline-block;
  width:auto;
  border: .5px solid;
  overflow: hidden;
}

#ref{
  text-align: center;
  font-size: 25px;
  line-height: 10px;
}

#border{
  border-top: 3px solid black;
  margin-top: 5%;
}

#milieu{
  text-align: center;
  list-style-type:none;
  margin-top: 150px;
  font-size: 25px;

}

.date{
  font-weight : bolder;
}

.données{
  font-weight : bolder;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
margin-bottom: 100px;
}

li {
margin-bottom:10px;/* à adapter */
}


body{
  position: absolute;
  margin-left: 10%;
}

#banniere{
  display: flex;
  border-bottom: 1px solid;
  margin-bottom: 80px;
  position: relative;
}

#casechayma{
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  border: 2px solid;
  padding: 2px;
  width: 360px;
  background:white;
}

#textchayma{
  padding: 20px 30px;
  background: black;
  color: white;
  z-index: 3;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

#me {
  margin-right: 5px;
  height: 210px;
  width: 200px;
  background: url('photocv.jpg') no-repeat;
  background-size: cover;
}

#bordure{
  position: relative;
  background: url('image cv.jpg') no-repeat;
  background-size: cover;
  width: 100%;
}