button {
  margin-left: 5px;
  margin-right: 5px;
}

input {
  border: 1.5px solid cornflowerblue;
}

label{
  margin-right: 5px;
  margin-left: 5px;
}

li{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

