.warning, .tip{
  padding: .5em;
  border-radius: .25em;
  border-color: rgba(0, 0, 0, .5);
  color: rgb(255, 255, 255);
}

.warning {
  background: rgb(192, 0, 0);
}

.warning::before {
  content: "WARNING: " ;
}

.tip {
  background: rgb(0, 192, 0);
}

.tip::before {
  content: "TIP: ";
}

.warning::before, .tip::before {
  font-weight: bold;
}
